<div class="col">
    <div class="row">
        <!--<img src="../../../assets/img/doctor-logo.jpg">-->
    </div>
    
    <!--<div *ngFor="let list of productList" >
        {{list}}
    </div>-->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="appointment-container row">
        <!--<angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>-->
        <!--Lists of Appointment today Starts-->
        <div class="col-12 no-pad no-pad">
            <div class="apppointment-list row no-pad">
                <!--<div class="patient-avatar col-2 text-center">
                    
                    <div class="patient-no-avatar col-12">
                        <p>Photo</p>
                    </div>
                </div>-->
                <!--<div class="col">
                    <div class="row doc-assign">
                        <p class="doc-name">Dr. D. Drew</p>
                    </div>
                    <div class="row apppointment-listings">
                        <div class="col appoinment-list-info">
                            <p class="appoinment-date">June 8 2017</p>
                            <p class="appoinment-time">10:30 AM - 12:00 PM</p>
                            <p class="appoinment-patient">C. Granada</p>
                        </div>
                        <div class="col appoinment-list-info">
                            <p class="appoinment-date">June 9 2017</p>
                            <p class="appoinment-time">10:30 AM - 12:00 PM</p>
                            <p class="appoinment-patient">C. Granada</p>
                        </div>
                        <div class="col appoinment-list-info">
                            
                        </div>
                        <div class="col appoinment-list-info">
                            
                        </div>
                    </div>
                </div>           -->
            </div>
        </div>

       
        <!--Lists of Appointment today ENDS-->
    </div>

   
    <!-- END DASHBOARD STATS 1-->
</div>
<!--Appointment Request Starts-->
    <!--<button id="modalTrigger" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <!--<div id="myModal" class="modal fade no-pad-modal row"  role="dialog" [ngClass]="{'show':showModal}">
        <button type="button" class="close appointment-close" (click)="closeModal()" data-dismiss="modal">&times;</button>
        <div class="modal-dialog col">
            <div class="row">
                <div class="col text-center">
                    <h4 class="request-appointment-modal-header">Appointment Request</h4>
                    <p class="request-info appoinment-date-request">Monday, June 5, 2017</p>
                    <p class="request-info appoinment-time-request">1:00 PM  - 2:00 PM</p>
                    <p class="request-info appoinment-doctor-request">Doctor: Dr. Paul Dre</p>
                    <p class="request-info appoinment-patient-request">Patient: Serge Miel</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center appoinment-request-action appoinment-accept">
                    <a href="#">Accept</a>
                </div>
                <div class="col text-center appoinment-request-action appoinment-reched">
                    <a href="#">Reschedule</a>
                </div>
                <div class="col text-center appoinment-request-action appoinment-deny">
                    <a href="#">Deny</a>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-backdrop fade" [ngClass]="{'show':showModal}"></div>-->
    <!--Appointment Request Ends-->